---
---
@charset "utf-8";
// Your custom css /scss here.fa

// Pre doesn't wrap anymore
pre {
  word-wrap: normal;
  word-break: normal;
}

pre code {
  overflow: auto;
  word-wrap: normal;
  white-space: pre;
}

.fa-orcid {
  color: #A6CE39 !important;
}

.leaflet {
  max-width: 100%;
}