name: build-chulapa-gh-pages

on:
  push:
    branches:
      - master
      - dev
  workflow_dispatch:

jobs:
  build-chulapa-gh-pages:
    runs-on: ubuntu-latest
    env:
      JEKYLL_GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    steps:
    - uses: actions/checkout@v3

    # Use GitHub Actions' cache to shorten build times and decrease load on servers
    - uses: actions/cache@v3
      with:
        path: vendor/bundle
        key: ${{ runner.os }}-gems2-${{ hashFiles('**/Gemfile') }}
        restore-keys: |
          ${{ runner.os }}-gems2-
 
    # Specify the target branch (optional)
    - uses: helaili/jekyll-action@v2
      with:
        token: ${{ secrets.GITHUB_TOKEN }}
        target_branch: 'gh-pages'
        jekyll_src: '.'
        keep_history: true
        jekyll_build_options: '--drafts --future'
